[submodule "Paradox-Platform"]
	path = Paradox-Platform
	url = git@github.com:ParadoxGene/Paradox-Platform.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
